{% extends 'base.html' %}
{% load humanize %}
{% load static %}
    <title>{% block 'title' %}
        Aviator Game
        {% endblock %}</title>

        {% block 'head' %}
        <style>

            .notification-popup {
                position: fixed;
                bottom: 20px;
                left: -300px; /* Começa fora da tela */
                background-color: #222;
                color: white;
                padding: 12px 18px;
                border-radius: 8px;
                font-size: 16px;
                display: flex;
                align-items: center;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
                animation: slide-in 0.5s ease-out forwards;
                z-index: 1000;
                min-width: 250px;
                max-width: 280px;
            }
    
            .notification-icon {
                font-size: 20px;
                margin-right: 10px;
            }
    
            .notification-text strong {
                color: #FFD700;
            }
    
            .notification-text span {
                color: #4CAF50;
                font-weight: bold;
            }
    
            @keyframes slide-in {
                from {
                    left: -300px;
                }
                to {
                    left: 20px;
                }
            }
    
            .fade-out {
                opacity: 0;
                transition: opacity 0.5s ease-in-out;
            }
                
        </style>
        <style>

            body {
                margin: 0;
                padding: 0;
                padding-top: 180px;
                background-color: black;
                font-family: 'Exo 2', sans-serif;
                box-sizing: border-box;
                width: 100%;
                overflow: hidden;
            }
            
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        
        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
        
        #wrapper {
            width: 100%;
            position: relative;
            overflow: hidden;
            box-sizing: border-box;
        }
        
        #header {
            display: flex;
            width: 100%;
            flex-direction: row;
            max-width: 500px;
            align-items: end;
            overflow: hidden;
        }
        
        #last-counters {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            color: #ffffff;
            overflow: hidden;
            margin: 0 6px 20px 0;
        }
        
        #last-counters p {
            padding: 2px 11px;
            border-radius: 11px;
            border-width: 1px;
            border-style: solid;
            font-size: 16px;
            font-weight: 500;
            margin: 0 5px;
        }
        
        .blueBorder {
            color: rgb(52, 180, 255);
            border-color: rgb(52, 180, 255);
        }
        
        .purpleBorder {
            color: rgb(145, 62, 248);
            border-color: rgb(145, 62, 248);
        }
        
        .burgundyBorder {
            color: rgb(192, 23, 180);
            border-color: rgb(192, 23, 180);
        
        }
        
        #mid-wrapper {
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: 20px 20px 0 20px;
            align-items: center;
            overflow: hidden;
        }
        
        #balance {
            text-transform: uppercase;
            color: #30fcbe;
            font-size: 14px;
            font-weight: 600;
            margin-right: 15px;
        }
        
        #balance-amount {
            position: relative;
            font-weight: 600;
            width: 90px;
            border: 2px solid #30fcbe;
            font-size: 16px;
            border-radius: 24px;
            background: transparent;
            color: #fff;
            text-transform: uppercase;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 5px;
            margin-bottom: 20px;
        }
        
        #counterWrapper {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 500px;
            overflow: hidden;
            margin: 0 auto;
            padding: 0 1px;
            border-radius: 20px;
        }
        
        #bg-image {
            position: absolute;
            width: 300%;
            height: 450%;
            overflow: hidden;
            top: 100%;
            left: 0%;
            transform: translate(-50%, -50%);
        }
        
        #counterWrapper #bg-image::before {
            content: '';
            background-image: url('{% static 'img/aviator.spribe.jpeg' %}' );
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            width: 100%;
            height: 100%;
            min-width: 100%;
            top: 0;
            left: 0;
            animation: rotation 8s infinite linear;
            transform-origin: 50% 50%;
        }
        
        @-webkit-keyframes rotation {
            from {
                -webkit-transform: rotate(0deg);
            }
        
            to {
                -webkit-transform: rotate(360deg);
            }
        }
        
        @-moz-keyframes rotation {
            from {
                -moz-transform: rotate(0deg);
            }
        
            to {
                -moz-transform: rotate(360deg);
            }
        }
        
        @keyframes rotation {
            from {
                transform: rotate(0deg);
            }
        
            to {
                transform: rotate(360deg);
            }
        }
        
        #canvas {
            width: 100%;
            max-width: 500px;
            height: 250px;
            border: 1px solid #2a2b2e;
            border-radius: 20px;
            margin: 0 auto;
            z-index: 6;
            overflow: hidden;
        }
        
        #counter {
            position: absolute;
            top: 10%;
            left: 42%;
            font-size: 42px;
            font-family: Arial, sans-serif;
            font-weight: bold;
            color: white;
            z-index: 999;
        }
        
        #bottom-wrapper {
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: row;
            padding: 20px 0;
            max-width: 500px;
        }
        
        #input-wrapper {
            position: relative;
            width: 100%;
        }
        
        #bet-input {
            position: relative;
            width: 100%;
            padding: 9px 0 9px 10px;
            border: 3px solid #fff;
            border-radius: 24px;
            background: transparent;
            font-weight: 900;
            font-size: 17px;
            color: #fff;
            text-transform: uppercase;
        }
        
        #bet-button {
            position: relative;
            width: 100%;
            padding: 12px 30px;
            border-width: 0;
            border-radius: 24px;
            background-color: #fb024c;
            cursor: pointer;
            color: #ffffff;
            font-weight: 900;
            font-size: 17px;
            text-transform: uppercase;
            margin-left: 30px;
        }
        
        #message {
            color: #fb024c;
            font-size: 16px;
            font-weight: 500;
        }
        
        #message-button {
            display: flex;
            flex-direction: column;
        }
    </style>
        {% endblock %}

        {% block 'body' %}
        <div id="wrapper">



            <div id="mid-wrapper">
        
                <div id="header">
                    <div id="last-counters"></div>
                    <div>
                        <div id="balance">R$: </div>
                        <div id="balance-amount">
                            <div style="position: absolute; top: 5px; right: 10px; font-size: 19px; color: #ffffff;"></div>
                        </div>
                    </div>
        
                </div>
        
                <div id="counterWrapper">
                    <div id="bg-image"></div>
                    <canvas id="canvas"></canvas>
                    <div id="counter">1.00</div>
                </div>
        
                <div id="bottom-wrapper">
                    <div id="input-wrapper">
                        <input type="number" id="bet-input" min="0" max="100" pattern="[0-9]{2}" />
                        <div style="position: absolute; top: 10px; right: 10px; font-size: 19px; color: #ffffff;"></div>
                    </div>
                    <button id="bet-button">BET</button>
                </div>
        
                <div id="message-button">
                    <p id="message"></p>
                </div>
        
            </div>
        </div>
        <script>
            
            //Create Canvas
            const canvas = document.getElementById('canvas');
            const ctx = canvas.getContext('2d');
            
            // Define the speed and direction of the dot
            let speedX = 3;
            let speedY = 1;
            
            // Set the size of the canvas
            canvas.width = 800;
            canvas.height = 250;
        
            
            let x = 0;
            let y = canvas.height;
            
            // Start the animation
            let animationId = requestAnimationFrame(draw);
            
            let dotPath = [];
            let counter = 1.0;
            let multiplier = 0;
            let counterDepo = [];
            let randomStop = 1.0;
            let cashedOut = false; // flag to indicate if the user has cashed out
            let placedBet = false;
            let isFlying = true;
            
            
            // Load the image
            const image = new Image();
            image.src = "{% static 'img/aviator_jogo.png' %}";
            image.style.minWidth = '100%';
            image.style.width = '100%';
            
            
            let balanceAmount = document.getElementById('balance-amount');
            let calculatedBalanceAmount = parseFloat("{{ user.usercredit.balance|intcomma }}");
            balanceAmount.textContent = calculatedBalanceAmount.toString();
            let betButton = document.getElementById('bet-button');
            betButton.textContent = 'Bet';
            
            //Previous Counters
            let lastCounters = document.getElementById('last-counters');
            let counterItem = lastCounters.getElementsByTagName('p');
            let classNameForCounter = '';

            function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        async function loseBet(betAmount) {
        try {
            const response = await fetch('/lose_bet/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify({
                    bet_amount: betAmount
                })
            });

            if (!response.ok) {
                throw new Error('Network response was not ok');
            }

            const data = await response.json();
            if (data.success) {
                console.log('Credits updated in backend:', data.new_balance); // Log para depuração
                return data.new_balance; // Retorna o novo saldo
            } else {
                throw new Error(data.error || 'Failed to update credits');
            }

        } catch (error) {
            console.error('Error updating credits:', error);
            return null;
        }
    }


            async function updateCreditsInBackend(winnings) {
            try {
                const response = await fetch('/update_credits/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken')  // Adicione o token CSRF para segurança
                    },
                    body: JSON.stringify({
                        winnings: winnings
                    })
                });

                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }

                const data = await response.json();
                if (data.success) {
                    console.log('Credits updated in backend:', data.new_balance);
                    return data.new_balance; // Retorna o novo saldo
                } else {
                    throw new Error(data.error || 'Failed to update credits');
                }

            } catch (error) {
                console.error('Error updating credits:', error);
                return null;
            }
        }


            async function fetchMultiplier() {
            try {
                const response = await fetch('/get_multiplier/', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }

                const data = await response.json();
                console.log('Multiplier received:', data.multiplier); // Log para depuração
                return data.multiplier;

            } catch (error) {
                console.error('Error fetching multiplier:', error);
                return 1.0; // Retorna um valor padrão em caso de erro
            }
        }

        // Função para iniciar o jogo com o multiplicador do backend
        async function startGame() {
            randomStop = await fetchMultiplier(); // Atualiza randomStop com o valor do backend
            draw(); // Inicia a animação
        }

        // Inicia o jogo quando a página carrega
        startGame();


        async function handleLostBet() {
            const newBalance = await loseBet(inputBox.value); // Chama a função assíncrona e define newBalance

            if (newBalance !== null) {
                calculatedBalanceAmount = newBalance; // Atualiza o saldo no frontend
                balanceAmount.textContent = calculatedBalanceAmount.toFixed(2); // Exibe o saldo com 2 casas decimais
            }

            messageField.textContent = 'Você perdeu sua aposta!'; // Mensagem de perda
            placedBet = false; // Reseta a flag de aposta
            betButton.textContent = 'Apostar'; // Atualiza o texto do botão
        }

            
            
            function updateCounterDepo() {
            
                lastCounters.innerHTML = counterDepo.map(function (i) {
            
                        if ((i < 2.00)) {
                            classNameForCounter = 'blueBorder';
            
                        } else if ((i >= 2) && (i < 10)) {
            
                            classNameForCounter = 'purpleBorder';
                        } else classNameForCounter = 'burgundyBorder';
            
                        return '<p' + ' class=' + classNameForCounter + '>' + i + '</p>'
                    }
                    // `<p style=`{classVar}`>${i}</p>`
            
                ).join('');
            }
            
            //Hide letter E from input
            let inputBox = document.getElementById("bet-input");
            
            let invalidChars = ["-", "+", "e",];
            
            inputBox.addEventListener("keydown", function (e) {
                if (invalidChars.includes(e.key)) {
                    e.preventDefault();
                }
            });
            
            
            let messageField = document.getElementById('message');
            messageField.textContent = 'Aguarde a próxima rodada';
            
            
                //Animation
            function draw() {
                //Counter
                counter += 0.001;
                document.getElementById('counter').textContent = counter.toFixed(2) + 'x';

                // Clear the canvas
                ctx.clearRect(0, 0, canvas.width, canvas.height);

                // Call the function to update the counter item initially
                updateCounterDepo();

                x += speedX;
                // Calculate the new position of the dot
                if (counter < randomStop) {
                    y -= speedY;
                    y = canvas.height / 2 + 50 * Math.cos(x / 100);
                    isFlying = true;
                } else {
                    x = 0;
                    y = 0;
                    isFlying = false;
                }

                // Check if it's time to stop the animation
                if (counter >= randomStop) {
                    messageField.textContent = 'Faça sua aposta';

                    // Stop the animation
                    cancelAnimationFrame(animationId);

                    // Verifica se o usuário não fez cash out
                    if (placedBet && !cashedOut) {
                        handleLostBet(); // Chama a função assíncrona para tratar a perda da aposta
                    }

                    counterDepo.unshift(counter.toFixed(2));

                    // Wait for 8 seconds and then start a new animation
                    setTimeout(async () => {
                        // Generate a new randomStop value and reset the counter to 1
                        randomStop = await fetchMultiplier();
                        counter = 1.0;
                        x = canvas.width / 2;
                        y = canvas.height / 2;
                        dotPath = [];
                        cashedOut = false;
                        isFlying = true;
                        messageField.textContent = '';

                        if (!placedBet && cashedOut) {
                            betButton.textContent = 'Apostar';
                        }

                        // Start the animation again
                        animationId = requestAnimationFrame(draw);

                    }, 8000);

                    return;
                }

                // Push the dot's current coordinates into the dotPath array
                dotPath.push({ x: x, y: y });

                // Calculate the translation value for the canvas
                const canvasOffsetX = canvas.width / 2 - x;
                const canvasOffsetY = canvas.height / 2 - y;

                // Save the current transformation matrix
                ctx.save();

                // Translate the canvas based on the dot's position
                ctx.translate(canvasOffsetX, canvasOffsetY);

                // Draw the dot's path
                for (let i = 1; i < dotPath.length; i++) {
                    ctx.beginPath();
                    ctx.strokeStyle = '#dc3545';
                    ctx.moveTo(dotPath[i - 1].x, dotPath[i - 1].y);
                    ctx.lineTo(dotPath[i].x, dotPath[i].y);
                    ctx.stroke();
                }

                // Draw the dot
                ctx.beginPath();
                ctx.fillStyle = '#dc3545';
                ctx.lineWidth = 5;
                ctx.arc(x, y, 1, 0, 2 * Math.PI);
                ctx.fill();

                // Draw the image on top of the dot
                ctx.drawImage(image, x - 28, y - 78, 185, 85);

                // Restore the transformation matrix to its original state
                ctx.restore();

                // Request the next frame of the animation
                animationId = requestAnimationFrame(draw);
            }
            
            // Start the animation
            draw();
            
            betButton.addEventListener('click', () => {
            
                if (placedBet) {
                    cashOut();
                } else {
                    placeBet();
                }
                if (!placedBet && !isFlying) {
                    messageField.textContent = 'Faça sua aposta';
                }
            
            });
            
            
            // Function to place a bet
            function placeBet() {
            
                if (placedBet || inputBox.value === 0 || isNaN(inputBox.value) || isFlying || inputBox.value > calculatedBalanceAmount) {
                    // user has already placed bet or has not placed a bet
                    messageField.textContent = 'Aguarde a próxima rodada';
                    return;
                }
            
                if ((counter >= randomStop) && !isFlying && (inputBox.value <= calculatedBalanceAmount)) {
                    // Only allow betting if animation is not running
                    if (inputBox.value && (inputBox.value <= calculatedBalanceAmount)) {
                        calculatedBalanceAmount -= inputBox.value;
                        balanceAmount.textContent = calculatedBalanceAmount.toFixed(1).toString();
                        betButton.textContent = 'Sacar';
                        placedBet = true;
                        messageField.textContent = 'Faça sua aposta';
                    } else {
                        messageField.textContent = 'Saldo insuficiente para fazer aposta';
                    }
                } else {
                    if (isFlying) {
                        messageField.textContent = 'Aguarde a próxima rodada';
                    }
            
                }
            }
            
            async function cashOut() {
            if (cashedOut || (inputBox.value === 0)) {
                messageField.textContent = 'Aguarde a próxima rodada';
                return;
            }

                if ((counter < randomStop)) {
                    const winnings = inputBox.value * counter; // Calcula os ganhos com base no contador
                    const roundedWinnings = parseFloat(winnings.toFixed(2)); // Arredonda para 2 casas decimais
                    const newBalance = await updateCreditsInBackend(roundedWinnings); // Atualiza os créditos no backend

                    // Verifica se newBalance é um número válido
                    if (typeof newBalance === 'number' && !isNaN(newBalance)) {
                        calculatedBalanceAmount = newBalance; // Atualiza o saldo no frontend
                        balanceAmount.textContent = calculatedBalanceAmount.toFixed(2); // Exibe o saldo com 2 casas decimais

                        cashedOut = true; // Define a flag para indicar que o usuário fez cashout
                        placedBet = false;
                        betButton.textContent = 'Apostar';
                        messageField.textContent = `Aposta sacada: ${roundedWinnings.toFixed(2)}`;
                    } else {
                        console.error("Invalid newBalance value:", newBalance); // Log para depuração
                        messageField.textContent = 'Failed to update credits. Try again.';
                    }
                } else {
                    messageField.textContent = "Não posso sacar agora";
                }
            }
                                
            </script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
    const names = ["Ana O.",
  "Pedro S.",
  "Clara C.",
  "Lucas P.",
  "Sofia L.",
  "Enzo R.",
  "Mateus C.",
  "Gabriel S.",
  "Laura F.",
  "Matheus R.",
  "Alice M.",
  "João C.",
  "Davi S.",
  "Maria O.",
  "Miguel S.",
  "Heloísa C.",
  "Lara R.",
  "Bryan M.",
  "Esther R.",
  "Luísa S.",
  "Daniel C.",
  "Samuel P.",
  "Valeria A.",
  "Nicolas R.",
  "Caio C.",
  "Lívia O.",
  "Heitor S.",
  "Clara F.",
  "Isabel S.",
  "Felipe A.",
  "Ana P.",
  "Bruno C.",
  "Sophia R.",
  "Isaac M.",
  "Beatriz R.",
  "Enzo L.",
  "Yasmin C.",
  "Lucas S.",
  "Isabela C.", ];

    function showNotification() {
    const name = names[Math.floor(Math.random() * names.length)];
    const amount = (Math.random() * (500 - 10) + 10).toFixed(2);

    const notification = document.createElement("div");
    notification.classList.add("notification-popup");
    notification.innerHTML = `
    <div class="notification-text">
        <strong>${name}</strong> acaba de ganhar <span>R$ ${amount} 💰</span>
    </div>
    `;

    document.body.appendChild(notification);

    setTimeout(() => {
    notification.classList.add("fade-out");
    setTimeout(() => notification.remove(), 500);
    }, 4000);
    }

    function randomNotification() {
    showNotification();
    setTimeout(randomNotification, Math.random() * (15000 - 5000) + 5000); // Entre 5s e 15s
    }

    randomNotification();
    });

</script>
        {% endblock %}
    