{% extends 'base.html' %}
{% load static %}
{% block 'title' %}
    Mensagens
    {% endblock %}

    {% block 'head' %}
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f4f4f9;
            color: #333;
        }
        .container {
            
            max-width: 800px;
            margin: 0 auto;
            background: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            text-align: center;
            color: #4CAF50;
        }
        .alert {
            padding: 15px;
            margin-bottom: 10px;
            border-left: 5px solid #4CAF50;
            background-color: #f9f9f9;
        }
        .alert.unread {
            border-left-color: #ff9800;
        }
        .alert p {
            margin: 0;
            font-size: 16px;
        }
        .alert small {
            display: block;
            margin-top: 5px;
            color: #777;
        }
    </style>
    {% endblock %}
    {% block 'body' %}
    <div class="container" style="margin-top: 180px;">
        <h1>Meus Alertas</h1>
        
        {% for alert in alerts %}
            <div class="alert {% if not alert.is_read %}unread{% endif %}">
                <p>{{ alert.message }}</p>
                <small>{{ alert.created_at }}</small>
                {% if not alert.is_read %}
                <a href="{% url 'Accounts:mark_alert_as_read' alert.id %}" style="color: #4CAF50;">Marcar como lido</a>
            {% endif %}
            </div>
        {% empty %}
            <p>Nenhum alerta encontrado.</p>
        {% endfor %}
    </div>  
    {% endblock %}