{% extends 'base.html' %}
{% load static %}
{% block 'title' %}
    Cadastro
    {% endblock %}
    {% block 'head' %}
    <link rel="stylesheet" href="{% static 'accounts.css' %}" >
    <style>

        .notification-popup {
            position: fixed;
            bottom: 20px;
            left: -300px; /* Começa fora da tela */
            background-color: #222;
            color: white;
            padding: 12px 18px;
            border-radius: 8px;
            font-size: 16px;
            display: flex;
            align-items: center;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
            animation: slide-in 0.5s ease-out forwards;
            z-index: 1000;
            min-width: 250px;
            max-width: 280px;
        }

        .notification-icon {
            font-size: 20px;
            margin-right: 10px;
        }

        .notification-text strong {
            color: #FFD700;
        }

        .notification-text span {
            color: #4CAF50;
            font-weight: bold;
        }

        @keyframes slide-in {
            from {
                left: -300px;
            }
            to {
                left: 20px;
            }
        }

        .fade-out {
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }
            
    </style>
    {% endblock %}

    {% block 'body' %}
<body>
    <div class="form-container" style="margin-top: auto;">
        <h2>Cadastro</h2>
        <form method="post">
            {% csrf_token %}
        
            <label for="id_username">Usuário:</label>
            <input type="text" name="username" id="id_username" value="{{ form.username.value|default_if_none:'' }}" required>
        
            <label for="id_email">Email:</label>
            <input type="email" name="email" id="id_email" value="{{ form.email.value|default_if_none:'' }}" required>
        
            <label for="id_password1">Senha:</label>
            <input type="password" name="password1" id="id_password1" required>
        
            <label for="id_password2">Confirme a senha:</label>
            <input type="password" name="password2" id="id_password2" required>
        
            <button type="submit">Criar Conta</button>
        </form>
        
        <p>Já tem uma conta? <a href="{% url 'Accounts:login' %}">Faça login</a>.</p>
    </div>
</body>

{% endblock %}