{% extends 'base.html' %}
{% load static %}
<title>{% block 'title' %}
    Pagamento via PIX
    {% endblock %}</title>
    {% block 'head' %}
    <style>


        .container {
            margin: 0 auto;
            background: #fff;
            padding-top: 120px;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            text-align: center;
            color: #4CAF50;
        }


        .instructions {
            margin-top: 20px;
            text-align: center;
        }
        .instructions p {
            font-size: 16px;
            line-height: 1.6;
        }
        .footer {
            margin-top: 30px;
            text-align: center;
            font-size: 14px;
            color: #777;
        }
    </style>
    {% endblock %}

    {% block 'body' %}
        
    <div class="container" style='padding-top:120px'>
        <h1>Pagamento via PIX</h1>
        
        <h2>Escaneie o QR Code para pagar</h2>
        <iframe height='50%' weight='50%' class="text-center" src="{{ qr_code }}"></iframe>

        <p>Use a câmera do seu celular para escanear o QR Code e concluir a transação.</p>
        <a href="{% url 'creditos' %}" class="btn btn-secondary">Voltar</a>

        <!-- Instruções para o pagamento -->
        <div class="instructions">
            <p>
                O pagamento será processado automaticamente pelo LivePix. Ao acessar o LivePix, insira seu Email, valor e mensagem conforme solicitado.
            </p>
            <p>
                Após o pagamento, o status será atualizado automaticamente.
            </p>
        </div>
        
        <!-- Informações adicionais -->
        <div class="footer">
            <p>Se tiver alguma dúvida, entre em contato conosco.</p>
            <p>Email: suporte@seusite.com | Telefone: (11) 1234-5678</p>
        </div>
    </div>
    {% endblock %}
