{% extends 'base.html' %}
{% load static %}

    {% block 'title' %}
    Creditos
    {% endblock %}
    {% block 'head' %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body{
            background-color: #f0f0f0;
            height: 100vh;
            align-items: center;
            justify-content: center;

        }

        .card:hover {
            transform: scale(1.05);
        }

    </style>
{% endblock %}
{% block 'body' %}
<body>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">🔥 Aposte Alto e Multiplique Seus Ganhos! 🔥</h1>
      <p class="lead">Escolha seu pacote de créditos e jogue para ganhar!</p>
      <p class="lead">⚡ Pacotes exclusivos para você girar e Aumentar a chances de faturar alto!</p>
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="row">
        <div class="col-sm-4">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">🟢 Starter Pack – 20 Créditos</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">R$ 10,00</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>❌ Sem bônus</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-success">Adicionar</button>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">🔵 Pro Player – 100 Créditos</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">R$ 50,00</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>🎁 +100 Créditos Grátis!</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Adicionar</button>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">🔴 High Roller – 200 Créditos</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">R$ 100,00</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>🎁 +200 Créditos Grátis! 🚀</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-danger">Adicionar</button>
          </div>
        </div>
        </div>
      </div>
    </div>


    <!-- Principal JavaScript do Bootstrap
    ================================================== -->
    <!-- Foi colocado no final para a página carregar mais rápido -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>



</body>
{% endblock %}